<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styel.css">
    <title>Document</title>
</head>

<body>
    <img src="../public/img/mic.png" alt="Speak">
    <h1>Guess a Number between 1 - 100</h1>
    <h3>Speak The number into your microphone</h3>
    <div class="msg" id="msg">

        <!-- add from JS -->
        <!-- <div>You said:</div>
        <span class="box">20</span>
        <div>GO HEIGHER</div> -->
    </div>
    <script src="../public/js/main.js"></script>
</body>

</html>